#collections {
	width: 100%;
	height: calc(100% - 450px - 160px);
	background-color: #FCF9F4;
	padding: 50px 100px;
}

#collections .browse {
	width: calc((100% / 4) - 30px);
	background-color: white;
	padding: 50px 15px;
	float: left;
	color: #646569;
	font-size: 14px;
}
#collections .browse h4 {
	border-bottom: 1px solid #DFDEDE;
}
#collections .browse .nav-item {
	list-style-type: none;
}
#collections .browse .nav-item:hover a {
	color: #002f34;
}
#collections .browse .nav-item a {
	display: block;
	text-decoration: none;
	color: #818185;
	padding: 10px 0px;
}

#collections .right {
	width: calc(100% - ((100% / 4) - 30px));
	height: 100%;
	padding: 0px 15px 0px 30px;
	text-align: center;
	float: left;
}
#collections .right .above .left {
	width: 70%;
	height: 40px;
	float: left;
	text-transform: uppercase;
	color: #626545;
	background-color: #FCF9F4;
	border-bottom: 1px solid #DFDEDE;
}
#collections .right .above .right {
	width: 30%;
	height: 40px;
	float: left;
	background-color: #FCF9F4;
	border-bottom: 1px solid #DFDEDE;
}
#collections .right .above .right select {
	font-size: 16px;
	background-color: #FCF9F4;
}
#collections .right .below {
	width: 100%;
	height: calc(100% - 180px);
	background-color: #FCF9F4;
}
#collections .right .below .product {
	width: 272.47;
	height: 335.27px;
	margin: 30px 15px;
	float: left;
	position: relative;
}
#collections .right .below .product a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #007580;
}
#collections .right .below .product a p {
	line-height: 20px;
	font-size: 20px;
	padding-bottom: 6px;
}
#collections .right .below .product img {
	width: 272.48px;
	height: 272.48px;
}
#collections .right .below .product .sub-image {
	display: none;
}
#collections .right .below .product:hover .sub-image {
	display: block;
	position: absolute;
	top: 0;
}