.header {
	width: 100%;
	height: 65px;
	padding-left: 20px;
	box-sizing: border-box;
}
.header .left {
	width: 20%;
	height: 100%;
	float: left;
}
.header .left p {
	display: inline;
	font-size: 24px;
	line-height: 61.44px;
}
.header .left a, .header .left a:visited {
	color: rgba(0,0,0,.5);
}
.header .left a:hover {
	color: #4F4F4F;
}
.header .right {
	width: 20%;
	height: 100%;
	float: right;
}
.header .right p {
	display: inline;
	line-height: 61.44px;
}
.header .right a {
	text-decoration: none;
}